In [1]:
import pandas as pd
df_articles = pd.read_csv('shared_articles.csv')
df_users = pd.read_csv('users_interactions.csv')

In [2]:
# Assuming you have two DataFrames: df1 and df2
merged_df = df_articles.merge(df_users, on='contentId', how='inner')  # Use 'inner', 'left', 'right', or 'outer' as needed

# Display the merged DataFrame
merged_df.head()

,timestamp_x,eventType_x,contentId,authorPersonId,authorSessionId,authorUserAgent,authorRegion,authorCountry,contentType,url,title,text,lang,timestamp_y,eventType_y,personId,sessionId,userAgent,userRegion,userCountry
0,1459192779,CONTENT REMOVED,-6451309518266745024,4340306774493623681,8940341205206233829,NaN,NaN,NaN,HTML,http://www.nytimes.com/2016/03/28/business/dea...,"Ethereum, a Virtual Currency, Enables Transact...",All of this work is still very early. The firs...,en,1459192561,VIEW,4340306774493623681,8940341205206233829,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_5...,SP,BR
1,1459192779,CONTENT REMOVED,-6451309518266745024,4340306774493623681,8940341205206233829,NaN,NaN,NaN,HTML,http://www.nytimes.com/2016/03/28/business/dea...,"Ethereum, a Virtual Currency, Enables Transact...",All of this work is still very early. The firs...,en,1459192667,VIEW,4340306774493623681,8940341205206233829,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_5...,SP,BR
2,1459192779,CONTENT REMOVED,-6451309518266745024,4340306774493623681,8940341205206233829,NaN,NaN,NaN,HTML,http://www.nytimes.com/2016/03/28/business/dea...,"Ethereum, a Virtual Currency, Enables Transact...",All of this work is still very early. The firs...,en,1459164960,VIEW,-1578287561410088674,2811329017818501696,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_4...,SP,BR
3,1459193988,CONTENT SHARED,-4110354420726924665,4340306774493623681,8940341205206233829,NaN,NaN,NaN,HTML,http://www.nytimes.com/2016/03/28/business/dea...,"Ethereum, a Virtual Currency, Enables Transact...",All of this work is still very early. The firs...,en,1459270471,VIEW,2873028073541627603,-3228450896145227905,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...,SP,BR
4,1459194146,CONTENT SHARED,-7292285110016212249,4340306774493623681,8940341205206233829,NaN,NaN,NaN,HTML,http://cointelegraph.com/news/bitcoin-future-w...,Bitcoin Future: When GBPcoin of Branson Wins O...,The alarm clock wakes me at 8:00 with stream o...,en,1459539433,VIEW,8414731042150985013,4543899740167763020,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_4...,MG,BR

In [5]:
df_articles.isna().sum()

timestamp             0
eventType             0
contentId             0
authorPersonId        0
authorSessionId       0
authorUserAgent    2442
authorRegion       2442
authorCountry      2442
contentType           0
url                   0
title                 0
text                  0
lang                  0
dtype: int64

In [6]:
df_articles.authorUserAgent.fillna('unknown', inplace=True)
df_articles.authorRegion.fillna('unknown', inplace=True)
df_articles.authorCountry.fillna('unknown', inplace=True)
df_articles.isna().sum()

C:\Users\BenIn\AppData\Local\Temp\ipykernel_13708\1393895049.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_articles.authorUserAgent.fillna('unknown', inplace=True)
C:\Users\BenIn\AppData\Local\Temp\ipykernel_13708\1393895049.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_articles.authorRegion.fillna('unknown', inplace=True)
C:\Users\BenIn\AppData\Local\Temp\ipykernel_13708\1393895049.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_articles.authorCountry.fillna('unknown', inplace=True)

timestamp          0
eventType          0
contentId          0
authorPersonId     0
authorSessionId    0
authorUserAgent    0
authorRegion       0
authorCountry      0
contentType        0
url                0
title              0
text               0
lang               0
dtype: int64

In [9]:
from sklearn.feature_extraction.text import TfidfVectorizer
pd.set_option('display.max_columns', 10)
pd.set_option('display.max_rows', 10)

# Create a TfidfVectorizer and Remove stopwords
tfidf = TfidfVectorizer(stop_words='english')

# Fit and transform the data to a tfidf matrix
tfidf_matrix = tfidf.fit_transform(df_articles['title'])

# Print the shape of the tfidf_matrix
print(tfidf_matrix.shape)

# Preview the matrix by placing it into a DataFrame (which we won't need later)
df_tfidf = pd.DataFrame(tfidf_matrix.T.todense(), index=tfidf.get_feature_names_out(), columns=df_articles['title'])
df_tfidf.iloc[2221:2226]

(3122, 6973)

title,"Ethereum, a Virtual Currency, Enables Transactions That Rival Bitcoin's","Ethereum, a Virtual Currency, Enables Transactions That Rival Bitcoin's",Bitcoin Future: When GBPcoin of Branson Wins Over USDcoin of Trump,Google Data Center 360° Tour,"IBM Wants to ""Evolve the Internet"" With Blockchain Technology",...,"Conheça a Liga IoT, plataforma de inovação aberta que irá acelerar projetos ligados a Internet das Coisas",Amazon takes on Skype and GoToMeeting with its Chime video conferencing app,Code.org 2016 Annual Report,"JPMorgan Software Does in Seconds What Took Lawyers 360,000 Hours",The 2017 Acquia Partners of the Year
elevam,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0
elimina,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0
eliminate,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0
elon,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0
elopar,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0

In [10]:
from sklearn.metrics.pairwise import linear_kernel

# Compute the cosine similarity between each movie description
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

# For easier viewing, put it in a dataframe
pd.DataFrame(cosine_sim)

,0,1,2,3,4,...,3117,3118,3119,3120,3121
0,1.000000,1.000000,0.079058,0.000000,0.00000,...,0.00000,0.0,0.0,0.000000,0.0
1,1.000000,1.000000,0.079058,0.000000,0.00000,...,0.00000,0.0,0.0,0.000000,0.0
2,0.079058,0.079058,1.000000,0.000000,0.00000,...,0.00000,0.0,0.0,0.000000,0.0
3,0.000000,0.000000,0.000000,1.000000,0.00000,...,0.00000,0.0,0.0,0.174994,0.0
4,0.000000,0.000000,0.000000,0.000000,1.00000,...,0.07257,0.0,0.0,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...
3117,0.000000,0.000000,0.000000,0.000000,0.07257,...,1.00000,0.0,0.0,0.000000,0.0
3118,0.000000,0.000000,0.000000,0.000000,0.00000,...,0.00000,1.0,0.0,0.000000,0.0
3119,0.000000,0.000000,0.000000,0.000000,0.00000,...,0.00000,0.0,1.0,0.000000,0.0
3120,0.000000,0.000000,0.000000,0.174994,0.00000,...,0.00000,0.0,0.0,1.000000,0.0
3121,0.000000,0.000000,0.000000,0.000000,0.00000,...,0.00000,0.0,0.0,0.000000,1.0

In [12]:
df_sorted = pd.DataFrame(cosine_sim).sort_values(by=[0], ascending=False)

for id in df_sorted.index[0:5]:
  print(id, '\t', df_articles.loc[id, 'title'])

df_sorted.head(10)

0 	 Ethereum, a Virtual Currency, Enables Transactions That Rival Bitcoin's
1 	 Ethereum, a Virtual Currency, Enables Transactions That Rival Bitcoin's
187 	 Microsoft Continues to Embrace Ethereum & Bitcoin - Bitcoin News
2455 	 Bitcoin Accepted! German Energy Giant Enables Payments - CCN: Financial Bitcoin & Cryptocurrency News
184 	 Ethereum and Bitcoin Are Market Leaders But Not Competitors

,0,1,2,3,4,...,3117,3118,3119,3120,3121
0,1.000000,1.000000,0.079058,0.000000,0.000000,...,0.0,0.0,0.000000,0.0,0.0
1,1.000000,1.000000,0.079058,0.000000,0.000000,...,0.0,0.0,0.000000,0.0,0.0
187,0.275459,0.275459,0.155049,0.000000,0.000000,...,0.0,0.0,0.000000,0.0,0.0
2455,0.241310,0.241310,0.109661,0.000000,0.000000,...,0.0,0.0,0.000000,0.0,0.0
184,0.236723,0.236723,0.095456,0.000000,0.000000,...,0.0,0.0,0.000000,0.0,0.0
987,0.220653,0.220653,0.066307,0.000000,0.073255,...,0.0,0.0,0.000000,0.0,0.0
2176,0.213223,0.213223,0.198667,0.000000,0.219486,...,0.0,0.0,0.000000,0.0,0.0
1059,0.186450,0.186450,0.064837,0.000000,0.000000,...,0.0,0.0,0.000000,0.0,0.0
18,0.182754,0.182754,0.073693,0.000000,0.081416,...,0.0,0.0,0.077294,0.0,0.0
992,0.175375,0.175375,0.000000,0.060295,0.000000,...,0.0,0.0,0.000000,0.0,0.0

In [13]:
def get_recommendations(item_id, sim_matrix, n=10, messages=True):
  if item_id > sim_matrix.shape[0]:  # Add some error checking for robustness
    print(f"Item {item_id} is not in the similarity matrix you provided")
    return

  # Get the pairwise similarity scores of all movies with that movie
  sim_scores = list(enumerate(sim_matrix[item_id]))

  # Sort the items based on the similarity scores
  sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

  # Get the scores of the n most similar items; start at 1 so that it skips itself
  top_similar = sim_scores[1:n+1]

  # Put the recommended item indices and similarity scores together in a dictionary using comprehension
  rec_dict = {i[0]:i[1] for i in top_similar}

  if messages:
    print(f"The top recommended item IDs are: {list(rec_dict.keys())}")
    print(f"Their similarity scores are:\t  {list(rec_dict.values())}")

  # Return the top n most similar items
  return rec_dict

In [15]:
# Change this value to any title you'd like to get recommendations
title = "Microsoft Continues to Embrace Ethereum & Bitcoin - Bitcoin News"

# Check if the title is valid; if not, suggest alternatives and use the last one for recommendations
if title in df_articles['title'].to_list():
  id = df_articles.index[df_articles['title']==title][0] # Convert the title to an index (i.e. item ID)
else:
  print(f"\"{title}\" is not in the data set. Try one of these:\n")
  for row in df_articles.sample(n=10).itertuples():  # Get a random 10 titles
    id = row[0]
    title = row.title
    print(f'\t{title}')

print(f"\nIf you like \"{title},\" then you may also like:\n")

# Call the function and return the dictionary; print out the dictionary if you want to see what it is
recommend_dict = get_recommendations(id, cosine_sim, n=10, messages=False)

# Add the dictionary to a new DataFrame; this isn't necessary, but it helps to see what movies are recommended
df_similarity = pd.DataFrame(data=recommend_dict.values(), columns=['similarity'], index=recommend_dict.keys())

# Create a subset of the original df DataFrame with only the recommended movies
df_recommendations = df_articles.loc[df_articles.index.isin(recommend_dict.keys()), ['title', 'authorPersonId', 'contentType', 'lang']]

# Join the original df results with the recommended movie similarity scores so that we can sort the list and view it
df_recommendations.join(df_similarity).sort_values(by=['similarity'], ascending=False)

If you like "Microsoft Continues to Embrace Ethereum & Bitcoin - Bitcoin News," then you may also like:

,title,authorPersonId,contentType,lang,similarity
2176,Bitcoin / Blockchain,-6316613156648676087,HTML,en,0.418172
8,Why Decentralized Conglomerates Will Scale Bet...,4340306774493623681,HTML,en,0.362086
184,Ethereum and Bitcoin Are Market Leaders But No...,4340306774493623681,HTML,en,0.332593
2455,Bitcoin Accepted! German Energy Giant Enables ...,-6067316262393890508,HTML,en,0.313819
0,"Ethereum, a Virtual Currency, Enables Transact...",4340306774493623681,HTML,en,0.275459
1,"Ethereum, a Virtual Currency, Enables Transact...",4340306774493623681,HTML,en,0.275459
18,Five Bitcoin and Ethereum Based Projects to Wa...,4340306774493623681,HTML,en,0.256766
2612,Introduction · Bitcoin para Programadores,3609194402293569455,HTML,pt,0.252063
478,Could Iceland Embrace Crypto Before Anyone Else?,4340306774493623681,HTML,en,0.231820
2981,How to Embrace Constant Change in Growth,3609194402293569455,HTML,en,0.222254

In [16]:
import pickle

# Save the cosine similarity matrix, tfidf_vectorizer, and articles DataFrame
with open('content_model.sav', 'wb') as file:
    pickle.dump((cosine_sim, tfidf, df_articles), file)